# Node dependencies
node_modules/

.cursor/
.expo-shared/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native credentials & builds
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.kotlin/

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env*.local

# TypeScript build info
*.tsbuildinfo

# Example or sample files
app-example

# Generated native folders (if using Prebuild / EAS, you may ignore)
ios/
android/
